Repository Azure/terraform-azurerm-compute, pull requests merged in 2018-10, with the labels that each got.

#73 Resolve issue #56
  main.tf
Labels: microsoft/P3, need review, size/M

#69 Tag all resources ceated by the module
  main.tf
Labels: design discussion, microsoft/P3, need review, size/M

#72 Provision vm agents for Windows machines
  main.tf
Labels: microsoft/P3, ready to merge, size/S
